<div class="container">
  <div class="row" *ngIf="(user$ | async) as user">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card d-flex flex-column align-items-center text-center">
        <span *ngIf="!user.photoURL"
              class="avatar avatar-no-image avatar-no-image-lg d-flex align-items-center justify-content-center mt-2">
          {{ user.displayName.charAt(0) }}
        </span>
        <img *ngIf="user.photoURL" [src]="user.photoURL" class="rounded-circle mt-2" width="150" [alt]="user.displayName">
        <div class="card-body">
          <h5 class="card-title text-center text-uppercase">{{ user.displayName }}</h5>
          <div class="d-flex justify-content-center">
            <button class="btn btn-outline-primary" (click)="onLogout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-sm-3"><h6 class="mb-0">Email</h6></div>
            <div class="col-sm-9 text-secondary">{{ user.email }}</div>
          </div>
        </div>
      </div>
      <app-order-history [orders]="orders$ | async"></app-order-history>
    </div>
  </div>
</div>
