<header class="header d-flex">
  <div class="container">
    <div class="header__content d-flex align-items-center justify-content-between">
      <span routerLink="products" class="cursor-pointer">LOGO</span>
      <div class="d-flex">
        <span class="mr-2 cursor-pointer" (click)="onSignin()">
          <fa-icon icon="user" size="lg"></fa-icon>
          SIGN IN
        </span>
        <span routerLink="cart" class="cursor-pointer">
          <fa-icon icon="shopping-cart" size="lg"></fa-icon>
          <ng-container *ngIf="(productsCounter$ | async) as productsCounter">
            <sup *ngIf="productsCounter > 0">
              <span class="badge badge-danger">{{ productsCounter }}</span>
            </sup>
          </ng-container>
        </span>
      </div>
    </div>
  </div>
</header>
