<header class="header d-flex">
  <div class="container">
    <div class="header__content d-flex align-items-center justify-content-between">
      <span routerLink="products" class="cursor-pointer">LOGO</span>
      <div class="d-flex">
        <span class="mr-2 cursor-pointer">
          <fa-icon icon="user" size="lg"></fa-icon>
          SIGN IN
        </span>
        <span routerLink="cart" class="cursor-pointer">
          <fa-icon icon="shopping-cart" size="lg"></fa-icon>
          <sup><span class="badge badge-danger">9</span></sup>
        </span>
      </div>
    </div>
  </div>
</header>
