.prime-container {
  flex: 1;
}

.plus-minus-container {
  margin-left: 40px;
}

.text-container__title {
  font-size: 22px;
}

.text-container__price, .product-count, .total__price  {
  font-size: 27px;
}
