<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-12 col-xs-12">
      <h2>Your order</h2>
      <div class="cart-products d-flex flex-column py-4">
        <div class="cart-products__cart-row d-flex">
          <div class="img-container mr-2 d-flex align-items-center">
            <span>image</span>
          </div>
          <div class="prime-container d-flex justify-content-between">
            <div class="text-container d-flex justify-content-between w-100 align-items-center">
              <div class="text-container__title">Some pizza title</div>
              <div class="text-container__price">5$</div>
            </div>
            <div class="plus-minus-container d-flex align-items-center">
              <fa-icon icon="minus-circle" size="2x" class="cursor-pointer"></fa-icon>
              <span class="product-count mx-2">3</span>
              <fa-icon icon="plus-circle" size="2x" class="cursor-pointer"></fa-icon>
            </div>
          </div>
          <div class="btn-container d-flex align-items-center ml-2 px-3">
            <fa-icon icon="times" size="lg" class="cursor-pointer"></fa-icon>
          </div>
        </div>
      </div>
      <div class="total d-flex justify-content-between w-100 py-5">
        <h2>Total price:</h2>
        <span class="total__price px-3">15$</span>
      </div>
    </div>
  </div>
</div>
