<div class="card">
  <img [src]="product.image" class="card-img-top" [alt]="product.title">
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text" [ngClass]="{ 'text-truncate': isDescriptionTruncated }">{{ product.desc }}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="product-price-amount">{{ product.price.amount | currency }}</div>
      <app-change-product-quantity
        [product]="product"
        [productQuantity]="productQuantity$ | async"
        (changeQuantity)="onChangeProductQuantity($event)">
      </app-change-product-quantity>
    </div>
  </div>
</div>
