<div class="container">
  <div class="row">
    <ng-container *ngIf="!(isLoading$ | async); else loadingSpinner">
      <div class="col-lg-4 col-md-6 col-xs-12 cursor-pointer"
           *ngFor="let product of (products$ | async); trackBy: trackById"
           [routerLink]="[product.id]">
        <app-product-list-item [product]="product" [isDescriptionTruncated]="true"></app-product-list-item>
      </div>
    </ng-container>

  </div>
</div>

<ng-template #loadingSpinner>
  <div class="loading-spinner d-flex align-items-center justify-content-center">
    <div class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
