@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  padding: 0;
}

.content-wrapper {
  padding-top: 100px;
}

button:focus, a:focus, span:focus
{
  outline: none;
  box-shadow: none !important;
}

.cursor-pointer {
  cursor: pointer;
}
